#navbar {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #19cccf;
  color: white;
  border: 1px solid navy;
  margin: 10px;
  height: 100px;
  width: 2000px;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
